$background-color: white;
$grey: #565555;
$accent-color: #008691;
$accent-color-light: #0086917d;
$accent-yellow: #ffd951;
/* #ffd53e; */
/*   #ffd53e;
#FAF076; */
$accent-orange: #f2a719;
$subtle-background: #dfe0e0;
$color-design: #008691;
$color-languages: #008691;
$color-frameworks: #008691;
$color-skills: #008691;
$font-color: #0d2836;
$font-decor: 'Dosis', sans-serif;
$font-text: 'Crimson Text', serif;
